body,
h1,
h2,
h3,
h4,
h5,
h6,
input
	font-family 'Alegreya Sans', sans-serif

body
	position absolute
	top 24%
	width 100%
	text-align center

h1 a,
h1 a:hover
	color #333
	text-decoration none

input[type=file]
	position absolute
	top -9999em

#address
	position absolute
	top 0
	width 100%

#buttons
	margin-top 48px
	-moz-animation-delay 0.25s
	-ms-animation-delay 0.25s
	-o-animation-delay 0.25s
	-webkit-animation-delay 0.25s
	animation-delay 0.25s

.progress
	height 5px
	margin 10px auto
